<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinir Senha</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
    </style>
  </head>
  <body>
    <table
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 600px"
      align="center"
      bgcolor="white"
    >
      <tbody style="background: white; opacity: 0.85; color: #ffffff">

        <!-- Logo -->

        <tr>
          <td
            align="center"
            valign="top"
            style="
              padding: 60px 0;
              margin: 10px 0 0 30px;

              border-right: 1px solid #bbb9b9;
              border-left: 1px solid #bbb9b9;
              border-top: 1px solid #bbb9b9;
              border-radius: 20px 20px 0 0;
            "
            width="100%"
          >
            <img
              src={{logoUrl}}
              alt="Logo - Cáritas"
              border="0"
              style="display: block",
              width="30%"
            />
          </td>
        </tr>

        <!-- Barra horizontal -->

        <tr>
          <td
            style="
              border-right: 1px solid #bbb9b9;
              border-left: 1px solid #bbb9b9;
            "
          >
            <hr color="#bbb9b9" />
          </td>
        </tr>
        <!-- title -->
        <tr>
          <td
            valign="left"
            style="
              border-right: 1px solid #bbb9b9;
              border-left: 1px solid #bbb9b9;
              padding: 0 20px;
            "
          >
            <strong
              style="font-size: 30px; font-family: 'Poppins', sans-serif; color: black"
              align="center",
            >
              <br />
              <p>Olá, {{name}}</p>
            </strong>
          </td>
        </tr>

        <!-- content -->
        <tr>
          <td
            style="
              border-right: 1px solid #bbb9b9;
              border-left: 1px solid #bbb9b9;
              padding: 0 20px;
            "
          >
            <p
              style="
                font-size: 20px;
                line-height: 28px;
                font-family: 'Poppins', sans-serif;
                margin: 10px 0 0 30px;
                color: black
              "
              align="center"
            >
            Redefinição de senha solicitada:<br>
            Para redefinir sua senha utilize o código e o link abaixo:<br>
            </p>
          </td>
        </tr>

        <tr>
          <td
            style="
              border-right: 1px solid #bbb9b9;
              border-left: 1px solid #bbb9b9;
              padding: 0 120px;
            "
          >
            <div
              style="
                font-size: 20px;
                line-height: 28px;
                font-family: 'Poppins', sans-serif;
                margin: 20px 0 0 30px;
                border-radius: 40px;
                color: black;
                font-weight: bold;
                text-align: center;
                padding: 20px 0;
                border: 2px dashed black;
              "
              align="center"
            >
              {{resetCode}}
            </div>
          </td>
        </tr>

        <tr>
            <td style="
              border-right: 1px solid #bbb9b9;
              border-left: 1px solid #bbb9b9; 
              text-align: center; 
              margin-top: 100px;
            ">
                <button style="padding-top: 50px; background-color: #E5484D; border: 1px solid white; color: black; width: 70%; padding: 30px; margin: 10px; margin-bottom: 0; border-radius: 20px; ">
                    <a href={{redefineLink}} style="text-decoration: none; color: black; font-size: 20px; font-weight: bold;">Redefinir Senha</a>
                </button>
                <p style="color: black; font-size: 18px; margin: 0;">Ou clique no <a href={{redefineLink}} style="font-size: 18px; font-weight: bold;">link</a> para redefinir sua senha.</p>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
          <td
            align="center"
            style="
              font-family: 'Montserrat', Helvetica, Arial, sans-serif;
              font-size: 14px;
              line-height: 24px;
              font-weight: 300;
              padding: 20px 20px 50px;
              border-right: 1px solid #bbb9b9;
              border-left: 1px solid #bbb9b9;
              border-bottom: 1px solid #bbb9b9;
              border-radius: 0 0 20px 20px;
              margin: 10px 0 0 30px;
            "
            valign="middle"
          >
            <table
              role="presentation"
              border="0"
              cellpadding="0"
              cellspacing="0"
              style="margin-top: 50px; margin-bottom: 20px"
            >
              <tbody>
                <tr>
                  <td>
                    <p style="color: #7e8790; margin: 0">
                      Enviado por Cáritas.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
